header {
  background-color: green;
  height: 100px;
}

.content {
  display: flex;
}

nav {
  background-color: yellow;
  height: 500px;
  width: 33.3%;
}

main {
  background-color: purple;
  height: 500px;
  width: 33.4%;
}

aside {
  background-color: orange;
  height: 500px;
  width: 33.3%;
}

footer {
  background-color: brown;
  height: 100px;
}
